USE [Larco]
GO
/****** Object:  StoredProcedure [dbo].[Paises]    Script Date: 09/06/2012 22:25:45 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
ALTER    PROCEDURE [dbo].[Paises]
  @TYPE AS INT,
  @NAME AS VARCHAR(50) = NULL,
  @ID   AS INT = NULL
AS 

IF (@TYPE = 0) BEGIN
	INSERT INTO tblPaises(PAIS_NOMBRE)
	SELECT @NAME
END
ELSE IF (@TYPE = 1) BEGIN
	UPDATE tblPaises SET PAIS_NOMBRE = @NAME WHERE PAIS_ID = @ID
END
ELSE IF (@TYPE = 2) BEGIN
	DELETE FROM tblPaises WHERE PAIS_ID = @ID
END
