USE [Larco]
GO
/****** Object:  Table [dbo].[tblItemTasks]    Script Date: 11/16/2015 14:43:40 ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[tblItemTasks]') AND type in (N'U'))
DROP TABLE [dbo].[tblItemTasks]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[tblItemTasks]') AND type in (N'U'))
BEGIN
CREATE TABLE [dbo].[tblItemTasks](
	[ITE_Id] [int] NOT NULL,
	[TAS_Id] [int] NOT NULL,
	[ITE_Nombre] [varchar](50) NULL,
	[ITS_Status] [tinyint] NULL,
	[ITS_DTStart] [datetime] NULL,
	[ITS_DTStop] [datetime] NULL,
	[USE_Login] [varchar](50) NULL,
	[ITS_Machine] [varchar](50) NULL,
 CONSTRAINT [UC_ID_TASK_Nombre] UNIQUE NONCLUSTERED 
(
	[ITE_Id] ASC,
	[ITE_Nombre] ASC,
	[TAS_Id] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
END
GO
SET ANSI_PADDING OFF
GO
IF NOT EXISTS (SELECT * FROM sys.indexes WHERE object_id = OBJECT_ID(N'[dbo].[tblItemTasks]') AND name = N'INX_ITE_Nombre')
CREATE NONCLUSTERED INDEX [INX_ITE_Nombre] ON [dbo].[tblItemTasks] 
(
	[ITE_Nombre] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
GO
IF NOT EXISTS (SELECT * FROM sys.indexes WHERE object_id = OBJECT_ID(N'[dbo].[tblItemTasks]') AND name = N'INX_ITS_DTStop')
CREATE NONCLUSTERED INDEX [INX_ITS_DTStop] ON [dbo].[tblItemTasks] 
(
	[ITS_DTStop] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
GO
IF NOT EXISTS (SELECT * FROM sys.indexes WHERE object_id = OBJECT_ID(N'[dbo].[tblItemTasks]') AND name = N'INX_ITS_STATUS')
CREATE NONCLUSTERED INDEX [INX_ITS_STATUS] ON [dbo].[tblItemTasks] 
(
	[ITS_Status] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
GO
IF NOT EXISTS (SELECT * FROM sys.indexes WHERE object_id = OBJECT_ID(N'[dbo].[tblItemTasks]') AND name = N'INX_TAS_Id')
CREATE NONCLUSTERED INDEX [INX_TAS_Id] ON [dbo].[tblItemTasks] 
(
	[TAS_Id] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
GO
IF NOT EXISTS (SELECT * FROM sys.indexes WHERE object_id = OBJECT_ID(N'[dbo].[tblItemTasks]') AND name = N'INX_TUNE_RECO')
CREATE NONCLUSTERED INDEX [INX_TUNE_RECO] ON [dbo].[tblItemTasks] 
(
	[ITS_Status] ASC,
	[ITS_DTStop] ASC,
	[ITE_Id] ASC,
	[TAS_Id] ASC,
	[ITS_DTStart] ASC
)
INCLUDE ( [ITE_Nombre]) WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
GO
