USE [Larco]
GO
/****** Object:  Table [dbo].[tblRouting]    Script Date: 11/16/2015 14:43:41 ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[tblRouting]') AND type in (N'U'))
DROP TABLE [dbo].[tblRouting]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[tblRouting]') AND type in (N'U'))
BEGIN
CREATE TABLE [dbo].[tblRouting](
	[Rou_Id] [int] IDENTITY(1,1) NOT NULL,
	[Nombre] [varchar](50) NULL,
	[Rou_From] [int] NULL,
	[Rou_Code] [varchar](50) NULL,
	[Rou_To] [int] NULL
) ON [PRIMARY]
END
GO
SET ANSI_PADDING OFF
GO
