USE [LarcoOld]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE    Function [dbo].[FormatZeros](@NUMBER INT,@LEN AS INT) RETURNS VARCHAR(10)
AS
BEGIN
   DECLARE @ZEROS AS VARCHAR(10)
   DECLARE @STRNUM AS VARCHAR(10)
 	
   SET @ZEROS = '000000000'	
   SELECT @STRNUM = CAST(@NUMBER AS VARCHAR(10))
 	
	
   RETURN(SELECT LEFT( @ZEROS,@LEN - LEN(@STRNUM) ) + @STRNUM  )
END

GO
