USE [Larco]
GO
/****** Object:  UserDefinedFunction [dbo].[GetNonWorkingDays]    Script Date: 04/27/2016 20:28:30 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE  FUNCTION [dbo].[GetNonWorkingDays](@STARTDATE AS DATE, @ENDDATE AS DATE) RETURNS INT
AS 
BEGIN

DECLARE @NONWD AS INT

SELECT @NONWD = COUNT(*) + (DATEDIFF(ww, @STARTDATE, @ENDDATE) * 2)
FROM tblNonWorkingDay 
WHERE NonWorkingDay BETWEEN @STARTDATE AND @ENDDATE

RETURN	@NONWD
END
GO
