USE [Larco]
GO
/****** Object:  Table [dbo].[tblYear]    Script Date: 04/27/2016 20:28:29 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tblYear](
	[Anio] [int] NULL
) ON [PRIMARY]
GO
