USE [Larco]
GO
/****** Object:  Table [dbo].[tblCategory_Screens]    Script Date: 04/27/2016 20:28:29 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tblCategory_Screens](
	[Category_ID] [int] NULL,
	[SCR_ID] [int] NULL,
	[SCR_Order] [int] NULL
) ON [PRIMARY]
GO
