USE [LarcoOld]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[PageListItem](
	[ItemId] [int] IDENTITY(1,1) NOT NULL,
	[FieldName] [varchar](100) NOT NULL,
	[Value] [int] NOT NULL,
	[Text] [nvarchar](500) NOT NULL,
	[ShortText] [nchar](10) NULL,
	[Enable] [bit] NOT NULL CONSTRAINT [DF_PageListItem_Enable]  DEFAULT ((1)),
	[Selected] [bit] NOT NULL CONSTRAINT [DF_PageListItem_Selected]  DEFAULT ((0)),
 CONSTRAINT [PK_PageListItem] PRIMARY KEY CLUSTERED 
(
	[ItemId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY],
 CONSTRAINT [UC_PageListItem_FieldNameValue] UNIQUE NONCLUSTERED 
(
	[FieldName] ASC,
	[Value] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
