USE [LarcoOld]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[PageTab](
	[TabId] [int] IDENTITY(1,1) NOT NULL,
	[PageId] [int] NULL,
	[TabName] [varchar](100) NOT NULL,
	[URL] [varchar](100) NOT NULL,
	[UpdatedBy] [varchar](50) NOT NULL,
	[UpdatedDate] [datetime] NOT NULL,
	[TabOrder] [int] NOT NULL,
	[Cols] [int] NOT NULL CONSTRAINT [DF_PageTabs_Cols]  DEFAULT ((1)),
 CONSTRAINT [pk_PageTabId] PRIMARY KEY CLUSTERED 
(
	[TabId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY],
 CONSTRAINT [uc_PageTabName] UNIQUE NONCLUSTERED 
(
	[PageId] ASC,
	[TabName] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
ALTER TABLE [dbo].[PageTab]  WITH CHECK ADD  CONSTRAINT [FK_PageTab_PageId] FOREIGN KEY([PageId])
REFERENCES [dbo].[Page] ([PageId])
GO
ALTER TABLE [dbo].[PageTab] CHECK CONSTRAINT [FK_PageTab_PageId]
GO
