USE [Larco]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Subscribers](
	[SubId] [int] IDENTITY(1,1) NOT NULL,
	[IP] [varchar](15) NOT NULL,
	[SessionId] [varchar](100) NOT NULL,
	[UpdatedDate] [datetime] NOT NULL,
 CONSTRAINT [PK__Subscrib__4D9BB84A3E723F9C] PRIMARY KEY CLUSTERED 
(
	[SubId] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
