USE [Larco]
GO
/****** Object:  Table [dbo].[tblNonWorkingDay]    Script Date: 04/27/2016 20:28:29 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tblNonWorkingDay](
	[NonWorkingDay] [datetime] NULL
) ON [PRIMARY]
GO
