USE [Larco]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE  FUNCTION [dbo].[GetDueDate](@BEFOREDAYS AS INT, @INTDUEDATE AS DATE) RETURNS DATE
AS 
BEGIN

DECLARE @DUEDATE AS DATE

SELECT @DUEDATE = DATEADD(DAY,(-1 * (@BEFOREDAYS + dbo.GetNonWorkingDays(CONVERT(DATE, GETDATE()), @INTDUEDATE) ) ), @INTDUEDATE )

RETURN	@DUEDATE
END
GO
