USE [Larco]
GO
/****** Object:  Table [dbo].[tblUser_Groups]    Script Date: 04/27/2016 20:28:29 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tblUser_Groups](
	[USE_ID] [int] NULL,
	[Group_ID] [int] NULL
) ON [PRIMARY]
GO
