USE [Larco]
GO
/****** Object:  Table [dbo].[tblGroups]    Script Date: 04/27/2016 20:28:29 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING OFF
GO
CREATE TABLE [dbo].[tblGroups](
	[Group_Id] [int] IDENTITY(1,1) NOT NULL,
	[Group_Name] [varchar](50) NULL
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
